.counter {
  color: #747474;
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
}

.counterContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40vh;
}

.title {
  color: rgb(42, 42, 42);
  text-align: center;
}
